{
    "swagger": "2.0",
    "info": {
        "title": "VaaS REST Apis",
        "description": "IBM Interactive Maps as-a-Service REST APIs",
        "version": "1.0.2"
    },
    "host": "vaas-ic.mybluemix.net",
    "schemes": [
        "http"
    ],
    "basePath": "/v1/rest",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{tenantId}/maps": {
            "get": {
                "summary": "Maps",
                "description": "List maps.\n",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Lucene style query string.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limits the number of returned results.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "include_docs",
                        "in": "query",
                        "description": "Longitude component of location.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "bookmark",
                        "in": "query",
                        "description": "TBD.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Maps"
                ],
                "responses": {
                    "200": {
                        "description": "A resultset as json object. The <b>rows</b> attribute contains an array of Map results",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total_rows": {
                                    "type": "integer"
                                },
                                "offset": {
                                    "type": "integer"
                                },
                                "rows": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Map",
                "description": "Create a new map",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "A map json definition object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Map"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Maps"
                ],
                "responses": {
                    "201": {
                        "description": "A link to the new map created.  Includes the generated id, and uri",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{tenantId}/maps/{mapId}": {
            "get": {
                "summary": "View Map",
                "description": "View map as an application or json",
                "produces": [
                    "application/json",
                    "text/html"
                ],
                "responses": {
                    "200": {
                        "description": "An HTML interactive map, or the JSON specification of the map (depending on the Accept header)"
                    }
                },
                "parameters": [
                    {
                        "name": "mapId",
                        "in": "path",
                        "description": "identifier of the map to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Maps"
                ]
            },
            "put": {
                "summary": "Update Map",
                "description": "replace the specification of the map object",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mapId",
                        "in": "path",
                        "description": "identifier of the map to replace",
                        "required": true,
                        "type": "string"
                    }
                ]
            },
            "delete": {
                "summary": "delete map",
                "description": "deletes the map and its dependant layers",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mapId",
                        "in": "path",
                        "description": "identifier of the map to delete",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/{tenantId}/maps/{mapId}/embed": {
            "get": {
                "summary": "View map in iFrame",
                "description": "View map as an application in iFrame",
                "produces": [
                    "application/json",
                    "text/html"
                ],
                "responses": {
                    "200": {
                        "description": "An HTML interactive map in an iFrame"
                    }
                },
                "parameters": [
                    {
                        "name": "mapId",
                        "in": "path",
                        "description": "identifier of the map to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Maps"
                ]
            }
        },
        "/{tenantId}/layers": {
            "get": {
                "summary": "List layers",
                "description": "List layers for tenant",
                "tags": [
                    "Layers"
                ],
                "responses": {
                    "200": {
                        "description": "A resultset as json object. The <b>rows</b> attribute contains an array of Layers results",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total_rows": {
                                    "type": "integer"
                                },
                                "offset": {
                                    "type": "integer"
                                },
                                "rows": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    }
                ]
            },
            "post": {
                "summary": "Create Layer",
                "description": "Create a new layer",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "A geojson layer object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Layer"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Layers"
                ],
                "responses": {
                    "201": {
                        "description": "A link to the new layer created.  Includes the generated id, and uri",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{tenantId}/layers/{layerId}": {
            "get": {
                "summary": "Fetch Layer",
                "description": "Fetch layer geojson",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The GeoJSON content"
                    }
                },
                "parameters": [
                    {
                        "name": "layerId",
                        "in": "path",
                        "description": "identifier of the layer to fetch",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Layers"
                ]
            },
            "put": {
                "summary": "Update Layer",
                "description": "replace the content of a Geojson layer",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "layerId",
                        "in": "path",
                        "description": "identifier of the layer to replace",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Layers"
                ]
            },
            "delete": {
                "summary": "delete layer",
                "description": "deletes the layer",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    }
                },
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "layerId",
                        "in": "path",
                        "description": "identifier of the layer to delete",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Layers"
                ]
            }
        },
        "/{tenantId}/mapbundle": {
            "post": {
                "summary": "Create Map & Layer",
                "description": "Create a map with a layer in a single transaction",
                "parameters": [
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "An json object containing a map json and a layer goejson object",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/MapBundle"
                        }
                    }
                ],
                "tags": [
                    "Mapbundle"
                ],
                "responses": {
                    "201": {
                        "description": "A link to the new map created (which contains a reference to the new layer created)",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{tenantId}/geofence": {
            "get": {
                "summary": "Geofence",
                "description": "perform a geofence query on lthe tenants' layers",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "g",
                        "in": "query",
                        "description": "Well Known Text (WKT) format of a geometry to use in the query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "relation",
                        "in": "query",
                        "description": "A geospatial relationship to use with the geometry in the query",
                        "required": true,
                        "type": "string",
                        "format": "text"
                    },
                    {
                        "name": "include_geometries",
                        "in": "query",
                        "description": "A flag to include geometries in the result set",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "tenantId",
                        "in": "path",
                        "description": "tenant url paths",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Geofence"
                ],
                "responses": {
                    "200": {
                        "description": "A resultset as json object. The <b>rows</b> attribute contains an array of Map results",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total_rows": {
                                    "type": "integer"
                                },
                                "offset": {
                                    "type": "integer"
                                },
                                "rows": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Map": {
            "type": "object",
            "required": [
                "title"
            ],
            "properties": {
                "title": {
                    "type": "string",
                    "format": "text"
                }
            },
            "xml": {
                "name": "Map"
            }
        },
        "Layer": {
            "type": "object",
            "required": [
                "title"
            ],
            "properties": {
                "title": {
                    "type": "string",
                    "format": "text"
                }
            },
            "xml": {
                "name": "Map"
            }
        },
        "MapBundle": {
            "type": "object",
            "required": [
                "map",
                "layer"
            ],
            "properties": {
                "map": {
                    "type": "string",
                    "format": "json"
                },
                "layer": {
                    "type": "string",
                    "format": "json"
                }
            },
            "xml": {
                "name": "Map"
            }
        }
    }
}
