{
    "swagger": "2.0",
    "info": {
        "title": "VaaS REST Apis",
        "description": "IBM Interactive Maps as-a-Service REST APIs",
        "version": "1.0.0"
    },
    "host": "maps.mybluemix.net",
    "schemes": [
        "http"
    ],
    "basePath": "/rest",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{tenantId}/maps": {
            "get": {
                "summary": "Maps",
                "description": "List maps.\n",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Lucene style query string.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limits the number of returned results.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "include_docs",
                        "in": "query",
                        "description": "Longitude component of location.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "bookmark",
                        "in": "query",
                        "description": "TBD.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Maps"
                ],
                "responses": {
                    "200": {
                        "description": "A resultset as json object. The <b>rows</b> attribute contains an array of Map results",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total_rows": {
                                    "type": "integer"
                                },
                                "offset": {
                                    "type": "integer"
                                },
                                "rows": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Map",
                "description": "Create a new map",
                "parameters": [
                    {
                        "name": "map",
                        "in": "body",
                        "description": "The geojson representation of the new map to create",
                        "required": true,
                        "type": "string",
                        "format": "json"
                    }
                ],
                "tags": [
                    "Maps"
                ],
                "responses": {
                    "201": {
                        "description": "A link to the new map created.  Includes the generated id, and uri",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{tenantId}/maps/{mapId}": {
            "get": {
                "summary": "View Map",
                "description": "View map as json",
                "tags": [
                    "Maps"
                ],
                "responses": {
                    "200": {
                        "description": "A json representation of the map"
                    }
                }
            }
        },
        "/{tenantId}/layers": {
            "get": {
                "summary": "List layers",
                "description": "List layers for tenant",
                "tags": [
                    "Layers"
                ],
                "responses": {
                    "200": {
                        "description": "A resultset as json object. The <b>rows</b> attribute contains an array of Layers results",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total_rows": {
                                    "type": "integer"
                                },
                                "offset": {
                                    "type": "integer"
                                },
                                "rows": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Layer",
                "description": "Create a new layer",
                "parameters": [
                    {
                        "name": "layer",
                        "in": "body",
                        "description": "The geojson representation of the new layer to create",
                        "required": true,
                        "type": "string",
                        "format": "json"
                    }
                ],
                "tags": [
                    "Layers"
                ],
                "responses": {
                    "201": {
                        "description": "A copy of the geojson layer created.  Includes the generated id, and uri",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{tenantId}/layers/{layerId}": {
            "get": {
                "summary": "Get layer data",
                "description": "Get layer (as json) for tenantId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "The id of the layer"
                    }
                ],
                "tags": [
                    "Layers"
                ],
                "responses": {
                    "200": {
                        "description": "The layer as json",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{tenantId}/map-bundle": {
            "post": {
                "summary": "Create map+layer",
                "description": "Create a new map and a new layer in one shot",
                "parameters": [
                    {
                        "name": "map",
                        "in": "body",
                        "description": "The geojson representation of the new map to create",
                        "required": true,
                        "type": "string",
                        "format": "json"
                    },
                    {
                        "name": "layer",
                        "in": "body",
                        "description": "The geojson representation of the new layer to create",
                        "required": true,
                        "type": "string",
                        "format": "json"
                    }
                ],
                "tags": [
                    "map-bundle"
                ],
                "responses": {
                    "201": {
                        "description": "A link to the new map created (which contains a reference to the new layer created)",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/{tenantId}/geofence": {
            "get": {
                "summary": "Geofence",
                "description": "perform a geofence query on lthe tenants' layers",
                "parameters": [
                    {
                        "name": "relation",
                        "in": "query",
                        "description": "A geospatial relationship to use in the query",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "g",
                        "in": "query",
                        "description": "A Well Known Text (WKT) format of the geometry to query with the relation parameter",
                        "required": true,
                        "type": "string"
                         
                    },
                    {
                        "name": "include_geometries",
                        "in": "query",
                        "description": "Include geometries in the result set. Default is false",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "tags": [
                    "Geofence"
                ],
                "responses": {
                    "200": {
                        "description": "A resultset as json object. The <b>rows</b> attribute contains an array of layers that satisfy the geofence query",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "total_rows": {
                                    "type": "integer"
                                },
                                "offset": {
                                    "type": "integer"
                                },
                                "rows": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Map",
                "description": "Create a new map",
                "parameters": [
                    {
                        "name": "map",
                        "in": "body",
                        "description": "The geojson representation of the new map to create",
                        "required": true,
                        "type": "string",
                        "format": "json"
                    }
                ],
                "tags": [
                    "Maps"
                ],
                "responses": {
                    "201": {
                        "description": "A link to the new map created.  Includes the generated id, and uri",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "definitions": {
            "Map": {
                "properties": {
                    "mapId": {
                        "type": "string",
                        "description": "Unique identifier of the Map."
                    }
                }
            }
        }
    }
}